body{
    background: #000000;
}
/*.wd-body {*/
/*    left: 16px;*/
/*}*/

#search {
    background: #2f3640;
    color: white;
    border: none;
}

.wd-search {
    position: relative;
    top: 2%;
    left: 2%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: auto;
    width: 95%;
    padding: 10px;
    /*margin-bottom: 10px;*/
}

.wd-setting-gear {
    position: absolute;
    top: 17px;
    right: 2%;
}

.wd-searchButton{
    background-color: transparent;
    color: transparent;
    border: none;
}

#searchbox {
    width: 50%;
    height: 30px;
    text-align: center;
    background-color: darkgray;
    border-radius: 20px;
    border: none;
    color: white;
}

/*Okay now lets work on the bar of links below the search box */
.wd-menu-container {
    vertical-align: middle;
    width: calc(100% - 100px);
    display: inline-block;
}

.wd-menu-container > ul > li{
    display: inline-block;
    margin-left: .4%;
    vertical-align: middle;
    float: inside;
    font-family: sans-serif;
}

.wd-menu-container > ul {
    list-style: none;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wd-menu-container > ul > li > a :visited {
    color: blue;
}


.wd-menu-container > ul > li > a {
    text-decoration: -webkit-link;
    /*color: darkgray;*/
    font-size: 15px;
    color: rgb(110,118,125);
}

.wd-menu-container ul li:first-child a{
    color: #2a9fd6;
}

.wd-div-selected {
    height: 1px;
    width: auto;
    border-bottom:5px solid #0001b7;
    margin-top: 10px;
}
.wd-menu-container.wd-selected-header{
    border: #7070ff;
}
.wd-body-content {

}
.wd-divider{
    border-bottom: solid darkgray;
    position: absolute;
    /*transform: translateY(-17px);*/
    margin: 0px;
    width: 100%;
}

.wd-tuits-recommended {
    display: grid;
    color: white;


    /*grid-template-rows: repeat(4, 1fr);*/
}

.wd-tuit-box {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
    padding: 25px;
    color: white;
    background-color: black;

}

.wd-tuit-title {
    font-weight: 500;
    font-family: sans-serif;
    font-size: 16px;
    margin: 1px;
    display: inline-block;
    color: white;
}

.wd-tuit-title-2 {
    font-weight: 500;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    display: inline-block;
    color: white;
}

.card {
    background-color: #565656;
}

.wd-tuit-topic {
    font-weight: 200;
    font-family: sans-serif;
    font-size: 13px;
    margin: 1px;
    color: darkgray;
    padding-bottom: 0px;
}

.wd-profile-icon {
    height: 20px;
    width: 20px;
    display: inline;
    /*float: left;*/
    padding-right: 2px;
}

.wd-tuit-image {
    float: right;
    height : 100px;
    width : 100px;
    border-radius: 20px;
    right : 16px;
    position: relative;
    transform: translateY(-16px);
    margin: 0;

}

.wd-verified-tuitter-user {
    height : 11px;
    width : 11px;
    border-radius: 2px;
    margin: 0px 2px 0px 2px;
}

.wd-padded-right {
    padding-right: 6px;
}

.col-3 .nav-link {
    /*width: 15%;*/
    border-bottom : 1px groove lightgray;
}

.col-3 .nav {
    /*width: 15%;*/
    border: 1px groove lightgray;

}

.container{
    margin: 10px;
}

.card-body {
    background-color: black;

}

@media screen and (max-width: 1200px) {
    .wd-text {
        display: none; }
    .nav-item-en{
        display: none;
    }
}

/*.nav-item .active {*/
/*    border-bottom: 1px groove #0001b7;*/


/*}*/

.list-group-items button {
    float: right;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
}

.wd-tuit-image-follow {
    float: left;
    height : 50px;
    width : 50px;
    border-radius: 50px;
    right : 16px;
    position: relative;
    /*transform: translateY(-16px);*/
    margin: 0;
}

list-group {
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

#tweet{
    width: 100%;
    border-radius: 2.5rem;
}

.wd-search {
    position: relative;
    padding-left: 0px;
    padding-top: 0px;
    z-index: 1;
    /*left : 50%;*/
    top : 2%;
    background-color: transparent;
}

.wd-padded-left {
    padding-left: 2em;
}
/*.col{*/
/*    margin-left: 20px;*/
/*}*/

/*.col-3 {*/
/*     width: 15%;*/
/*}*/

.fa-cog {
    color: #0001b7;
    padding-left: 4px;
}


.wd-rounded-corners-10px{
    border-radius: 10px;
    border: 2px groove #505050;
}
.wd-bg-gray {
    background-color: #232222;

    /*border-radius: 30px;*/
}

.nav-tabs .nav-link {
    border: none;
    background-color: transparent;
    color: lightgray;

}

.wd-follow-box {
    /*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
    padding: 25px;
    /*color: white;*/


}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom:5px groove blue;
    background-color: transparent;
    color: white;

}

.card {

}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.fa-ellipsis-h:before, .fa-ellipsis:before {
    content: "\f141";
    color: black;
    margin-left: 1px;
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-top: -10px;
}

@media screen and (max-width: 1999px) {
    #wd-image-title{
        color: white;
        margin-top: 290px;
        text-align: left;
        margin-left: 5px;
        font-size:30px;
    }
}


@media screen and (max-width: 1400px) {
    #wd-image-title{
        color: white;
        margin-top: 240px;
        text-align: left;
        margin-left: 5px;
        font-size:30px;
    }
}

@media screen and (max-width: 1340px) {
    #wd-image-title{
        color: white;
        margin-top: 240px;
        text-align: left;
        margin-left: 5px;
        font-size:30px;
    }
}

@media screen and (max-width: 1199px) {
    #wd-image-title{
        color: white;
        margin-top: 190px;
        text-align: left;
        margin-left: 5px;
        font-size:30px;
    }
}

@media screen and (max-width: 995px) {
    #wd-image-title{
        color: white;
        margin-top: 250px;
        text-align: left;
        margin-left: 5px;
        font-size:30px;
    }
}


@media screen and (max-width: 768px) {
    #wd-image-title{
        color: white;
        margin-top: 175px;
    }
}

@media screen and (max-width: 576px) {
    #wd-image-title{
        color: white;
        margin-top: 150px;
    }
}body{
    background: #000000;
}
.wd-body {
    left: 16px;
}
.wd-search {
    position: relative;
    top: 2%;
    left: 0.5%;
    /*transform:  translate(-50%,50%);*/
    /*background: #2f3640;*/
    height: auto;
    width: 95%;
    padding: 10px;
}

.wd-setting-gear {
    position: absolute;
    top: 17px;
    right: 2%;
}

.wd-searchButton{
    background-color: transparent;
    color: transparent;
    border: none;
}

#searchbox {
    width: 50%;
    height: 30px;
    text-align: center;
    background-color: darkgray;
    border-radius: 20px;
    border: none;
    color: white;
}

/*Okay now lets work on the bar of links below the search box */
.wd-menu-container {
    vertical-align: middle;
    width: calc(100% - 100px);
    display: inline-block;
}

.wd-menu-container > ul > li{
    display: inline-block;
    margin-left: .4%;
    vertical-align: middle;
    float: inside;
    font-family: sans-serif;
}

.wd-menu-container > ul {
    list-style: none;
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wd-menu-container > ul > li > a :visited {
    color: blue;
}


.wd-menu-container > ul > li > a {
    text-decoration: -webkit-link;
    /*color: darkgray;*/
    font-size: 15px;
    color: rgb(110,118,125);
}

.wd-menu-container ul li:first-child a{
    color: #2a9fd6;
}

.wd-div-selected {
    height: 1px;
    width: auto;
    border-bottom:5px solid #2a9fd6;
    margin-top: 10px;
}

.wd-menu-container.wd-selected-header{
    border: #7070ff;
}

.wd-body-content {

}
.wd-divider{
    border-bottom: solid darkgray;
    position: absolute;
    transform: translateY(-17px);
    margin: 0px;
    width: 100%;
}

.wd-tuits-recommended {
    display: grid;
    color: white;
    grid-template-rows: repeat(4, 1fr);
}

.wd-tuit-box {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 25px;

}

.wd-tuit-title {
    font-weight: 500;
    font-family: sans-serif;
    font-size: 16px;
    margin: 1px;
    display: inline-block;
}

.wd-tuit-topic {
    font-weight: 200;
    font-family: sans-serif;
    font-size: 13px;
    margin: 1px;
    color: darkgray;
    padding-bottom: 0px;
}

.wd-profile-icon {
    height: 12px;
    width: 12px;
    display: inline;
    padding-right: 2px;
}

.wd-tuit-image {
    float: right;
    height : 100px;
    width : 100px;
    border-radius: 20px;
    right : 16px;
    position: relative;
    transform: translateY(-16px);
    margin: 0;

}

.wd-verified-tuitter-user {
    height : 11px;
    width : 11px;
    border-radius: 2px;
    margin: 0px 2px 0px 2px;
}


.wd-borderless{
    border: none;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}
.btn-primary {
    color: #fff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}